:root {
    --primary-color: #161A1D;
    --secondary-color: #6F2DBD;
    --third-color: #FFCF33;
    --fourth-color: #EDF2F4;
    --fifth-color: #E9ECEF;
    --back-color: #F7F6F7;
    --secondary-back-color: #FFFFFF;

}
.custom-title {
    font-size: 30px;
    padding: 0;
    margin:0;
    color: var(--back-color);
}
.custom-title-2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    padding: 0;
    margin:0;
}
.custom-subtitle {
    font-size: 20px;
    margin: 0 0 5px 0;
    padding: 0;
    color: #434343;
}