@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Black.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Thin.ttf');
    font-weight: 200;
}
body {
    font-family: 'Roboto';
}